@model IEnumerable<GDoc.Models.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Usuario</h2>

<p>
    @Html.ActionLink("Incluir", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cpf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th>
            Filial@*@Html.DisplayNameFor(model => model.Filial.Nome)*@
        </th>
        <th>
            Perfil@*@Html.DisplayNameFor(model => model.Perfil.Nome)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cpf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ativo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Filial.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Perfil.Nome)
        </td>
        <td>
            @Html.ActionLink("Alterar", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-xs" })
            @Html.ActionLink("Detalhes", "Details", new { id = item.Id }, new { @class = "btn btn-primary btn-xs" })
            @Html.ActionLink("Excluir", "Delete", new { id = item.Id }, new { @class = "btn btn-primary btn-xs" })
            @Html.ActionLink("Trocar Senha", "TrocarSenha", new { id = item.Id }, new { @class = "btn btn-primary btn-xs" })
        </td>
    </tr>
}

</table>
